:root{
    --BrandName: 'Ubuntu', sans-serif;
    --PrimaryFont: 'Montserrat', sans-serif;
    --PrimaryColor: #3772ff;
    --SecondaryColor: #90defd;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }

    img.title-img{
        position: static;
        transform: rotate(0);
    }
}

@media only screen and (max-width: 500px){
    h2.testimonial-heading{
        font-size: 1.7rem;
    }

    img.press-img{
        width: 25%;
    }

    h3.cta-title{
        font-size: 3rem;
    }
}

body{
    font-family: var(--PrimaryFont);
}

.primary-font{
    font-family: var(--PrimaryFont);
}

#title{
    background-color: var(--PrimaryColor);
}

.title-img{
    width: 60%; 
    transform: rotate(25deg); 
    padding: 10px 0;
    position: absolute;
    right: 35%;
}

h1{
    font-family: var(--PrimaryFont);
    font-size: 3rem;
    line-height: 1.5;
    color:rgb(230, 252, 255);
}

p{
    color: #8f8f8f;
}

.navbar{
    padding-bottom: 5rem;
}

.navbar-brand{
    font-family: var(--BrandName);
    font-size: 5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.download-button{
    margin: 5% 3% 5% 0;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-head{
    font-size: 1.7rem;
    font-weight: bold;
}

.feature-icon{
    font-size: 4rem;
    color: var(--SecondaryColor);
    padding-bottom: 20px;
}

.feature-icon:hover{
    color: var(--PrimaryColor);
}

#testimonials
{
    text-align: center;
    background-color: var(--SecondaryColor);
    color: #fff;
}

.testimonial-heading{
    font-size: 2.2rem;
}

.testimonial-img{
    width: 15%;
    border: #fff 3px solid;
    border-radius: 50%;
    margin: 30px 20px 20px 20px;
}

.carousel-item{
    padding: 6% 15%;
}

#press{
    background-color: var(--SecondaryColor);
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 12%;
    margin: 20px 20px 50px; 
}

#pricing{
    text-align: center;
    padding: 6.5% 15%;
}

.pricing-heading{
    font-style: var(--PrimaryFont);
    font-size: 3rem;
}

.prices{
    padding-top: 30px;;
}

.pricing-column{
    padding: 5% 5%;
}

.card-body{
    margin: 7px 0;
}

.card-info{
    padding-bottom: 80px;
    max-height: 443px;
}

#cta{
    background-color: var(--PrimaryColor); 
    text-align: center;
    padding: 7% 15%;
}

.cta-title{
    color: #fff;
    font-style: var(--PrimaryFont);
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    padding: 3.5% 15%;
    background-color: #fff;
    text-align: center;
}

.social-icons{
    margin: 20px 10px;
    font-size: 1.5rem;
}

#footer p{
    color: grey;
}

